# Look at the top expressed genes in Multi-mapped regions vs single mapped regions

Extracted reads that are map to multiple locations vs single location

In [1]:
import pandas as pd

In [9]:
#treatment="Madrasin_HiSeq_October2018_alignments/DMSTreatedSample_TAGGCATG_S1"
treatment="Madrasin_HiSeq_October2018_alignments/NoDMSSample_CTCTCTAC_S2"

In [10]:
# Let's read in count data for single mapped reads
with open("../tmp/"+treatment+"_Transcriptome_featureCounts_SingleMappedReads_JustCounts.txt") as f:
    lines = f.readlines()
with open("../tmp/"+treatment+"_Transcriptome_featureCounts_SingleMappedReads_JustCounts_DropHeader.txt",'w') as fw:
    fw.writelines(lines[1:])
singleMap = pd.read_csv("../tmp/"+treatment+"_Transcriptome_featureCounts_SingleMappedReads_JustCounts_DropHeader.txt",header=0,sep="\t")
print singleMap.shape
singleMap.columns = ["GeneName","Length","Counts"]
singleMap.head()

(38310, 3)

      GeneName  Length  Counts
0      DDX11L1    1652       0
1       WASH7P    1769       9
2    MIR6859-1      68       0
3  MIR1302-2HG     538       0
4    MIR1302-2     138       0

In [11]:
# Sort the single mapped reads
singleMap_sorted = singleMap.sort_values(by=["Counts"],ascending=False)
singleMap_sorted.head()

      GeneName  Length  Counts
9646      LCP1    3889  123571
17143     EEF2    3158   59564
30843     CD74    2488   56130
13528   CORO1A    2227   41746
31261     IRF4    5461   29594

In [12]:
# Get the top 50 genes with most counts
singleMap_top10 = list(singleMap_sorted.iloc[range(10),0].values)
for i in singleMap_top10:
    print(i)

LCP1
EEF2
CD74
CORO1A
IRF4
MS4A1
CALR
TNFAIP3
NEAT1
TLN1

In [13]:
# Let's read in count data for multi mapped reads
with open("../tmp/"+treatment+"_Transcriptome_featureCounts_MultiMappedReads_JustCounts.txt") as f:
    lines = f.readlines()
with open("../tmp/"+treatment+"_Transcriptome_featureCounts_MultiMappedReads_JustCounts_DropHeader.txt",'w') as fw:
    fw.writelines(lines[1:])
multiMap = pd.read_csv("../tmp/"+treatment+"_Transcriptome_featureCounts_MultiMappedReads_JustCounts_DropHeader.txt",header=0,sep="\t")
print multiMap.shape
multiMap.columns = ["GeneName","Length","Counts"]
multiMap.head()

(38310, 3)

      GeneName  Length  Counts
0      DDX11L1    1652     163
1       WASH7P    1769     529
2    MIR6859-1      68       7
3  MIR1302-2HG     538       0
4    MIR1302-2     138       0

In [14]:
# Sort the multi mapped reads
multiMap_sorted = multiMap.sort_values(by=["Counts"],ascending=False)
multiMap_sorted.head()

       GeneName  Length  Counts
32284     RN7SK     332  184022
33393      ACTB    1922   92891
7566      GAPDH    1780   78233
22761  RNA45SN2   13315   70523
32398    EEF1A1    3512   66129

In [15]:
# Get the top 10 genes with most counts
multiMap_top10 = list(multiMap_sorted.iloc[range(10),0].values)
for i in multiMap_top10:
    print(i)

RN7SK
ACTB
GAPDH
RNA45SN2
EEF1A1
RNA45SN1
RNA45SN3
SNORD141A
LCP1
TUBA1B